<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>프리미엄</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/jumbotron-narrow.css" rel="stylesheet">
  <link href="css/table.css" rel="stylesheet">

</head>

<script type="text/javascript">
  getusdkrw()
  function numberWithCommas(x) {
    if (x.toString().indexOf(".") >= 0) {
      var tmp = x.toString().split(".")
      var tmp1 = tmp[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      var tmp2 = tmp[1].replace(/[\.0]0*$/, "")
      return tmp1 + "." + tmp2;
    } else {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }
  function getusdkrw() {
    $.getJSON('https://api.exchangeratesapi.io/latest?base=USD')
      .done(function (data) {
        var cur = $(this).attr('cur');
        var krw = data.rates['KRW'].toString();
        if (krw.indexOf(".") >= 0) {
          krw = krw.split(".")[0]
        }
        krw = numberWithCommas(krw)
        $('#usdkrw').text(krw);
      })
  }
  function pre() {
    var upbit = $("#upbit_btckrw").text().replace(/,/gi, "");
    var bin = $("#bin_btckrw").text().replace(/,/gi, "");
    $('#btcpre').text(precaculate(upbit, bin));

    upbit = $("#upbit_ethkrw").text().replace(/,/gi, "");
    bin = $("#bin_ethkrw").text().replace(/,/gi, "");
    $('#ethpre').text(precaculate(upbit, bin));

    upbit = $("#upbit_xrpkrw").text().replace(/,/gi, "");
    bin = $("#bin_xrpkrw").text().replace(/,/gi, "");
    $('#xrppre').text(precaculate(upbit, bin));
  }
  function precaculate(a, b) {
    return ((a - b) / a * 100).toFixed(3) + "%";
  }
</script>

<script type="text/javascript">
  if ('WebSocket' in window) {
    var ws = new WebSocket("wss://stream.binance.com:9443/stream?streams=btcusdt@trade/ethusdt@trade/xrpusdt@trade");
    ws.onopen = function () { };
    ws.onmessage = function (evt) {
      $('#bin_status').text('connected');
      $jsonn = JSON.parse(evt.data)['data'];
      $symbol = $jsonn['s'];
      $priceusd = numberWithCommas($jsonn['p']);

      var usdkrw = $("#usdkrw").text();
      $pricekrwT = $jsonn['p'] * usdkrw.replace(",", "");
      if ($pricekrwT.toString().indexOf(".") >= 0) {
        $pricekrwT = $pricekrwT.toString().split('.')[0];
      }
      $pricekrw = numberWithCommas($pricekrwT);

      if ($symbol == 'BTCUSDT') {
        $('#bin_btcusdt').text($priceusd);
        $('#bin_btckrw').text($pricekrw);
      }
      else if ($symbol == 'ETHUSDT') {
        $('#bin_ethusdt').text($priceusd);
        $('#bin_ethkrw').text($pricekrw);
      }
      else if ($symbol == 'XRPUSDT') {
        $('#bin_xrpusdt').text($priceusd);
        $('#bin_xrpkrw').text($pricekrw);
      }
      pre()
    };
    ws.onclose = function () { $('#bin_status').text('closed'); };
  }
  else $('#bin_status').text('disconnected');
</script>

<script type="text/javascript">
  if ('WebSocket' in window) {
    var ws2 = new WebSocket("wss://api.upbit.com/websocket/v1");
    ws2.binaryType = 'arraybuffer';
    ws2.onopen = function () {
      ws2.send('[{"ticket":"test"},{"type":"trade","codes":["KRW-BTC","KRW-ETH","KRW-XRP"]}]');
    };
    ws2.onmessage = function (evt2) {
      $('#upbit_status').text('connected');
      var enc = new TextDecoder("utf-8");
      var arr = new Uint8Array(evt2.data);
      $jsonn2 = JSON.parse(enc.decode(arr));
      $symbol2 = $jsonn2['code'];
      $price2 = numberWithCommas($jsonn2['trade_price']);
      if ($symbol2 == 'KRW-BTC') { $('#upbit_btckrw').text($price2); }
      else if ($symbol2 == 'KRW-ETH') { $('#upbit_ethkrw').text($price2); }
      else if ($symbol2 == 'KRW-XRP') { $('#upbit_xrpkrw').text($price2); }
      pre()
    };
    ws2.onclose = function () { $('#upbit_status').text('closed'); };
  }
  else $('#upbit_status').text('disconnected');
</script>

<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <a href="">1 USD = <span id="usdkrw"></span> KRW
            </a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">프리미엄</h3>
    </div>

    <div class="jumbotron" style="padding : 0;margin-bottom: 20px;">
        <table style="width:100%;height:100%">
          <thead>
            <tr >
              <th style="text-align: center">&nbsp&nbsp코인&nbsp&nbsp</th>
              <th style="text-align: center">업비트(₩)</th>
              <th style="text-align: center; display:none">바이낸스(₩)</th>
              <th style="text-align: center">바이낸스($)</th>
              <th style="text-align: center">프리미엄</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BTC</td>
              <td><span id="upbit_btckrw">0</span></td>
              <td style="display: none"><span id="bin_btckrw">0</span></td>
              <td><span id="bin_btcusdt">0</span></td>
              <td><span id="btcpre"></span></td>
            </tr>
            <tr>
              <td>ETH</td>
              <td><span id="upbit_ethkrw">0</span></td>
              <td style="display: none"><span id="bin_ethkrw">0</span></td>
              <td><span id="bin_ethusdt">0</span></td>
              <td><span id="ethpre"></span></td>
            </tr>
            <tr>
              <td>XRP</td>
              <td><span id="upbit_xrpkrw">0</span></td>
              <td style="display: none"><span id="bin_xrpkrw">0</span></td>
              <td><span id="bin_xrpusdt">0</span></td>
              <td><span id="xrppre"></span></td>
            </tr>
          </tbody>
        </table>
    </div>
    <footer class="footer">
      <p style="float: right">&copy; Wiffy 2019</p>
      <p>Binance Status: <span id="bin_status">disconnected</span> </p>
      <p>Upbit Status: <span id="upbit_status">disconnected</span></p>

    </footer>

  </div> <!-- /container -->

</body>

</html>