<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>정프리미엄</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/jumbotron-narrow.css" rel="stylesheet">
  <link href="css/table.css" rel="stylesheet">

</head>

<script type="text/javascript">
  let mainData = {};

  getusdkrw();

  function numberWithCommas(x) {
    if (x.toString().indexOf(".") >= 0) {
      let tmp = x.toString().split(".")
      let tmp1 = tmp[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      let tmp2 = tmp[1].replace(/[\.0]0*$/, "")
      return tmp1 + "." + tmp2;
    } else {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  }

  function getusdkrw() {
    // $.getJSON('https://api.exchangeratesapi.io/latest?base=USD')
    $.getJSON('https://quotation-api-cdn.dunamu.com/v1/forex/recent?codes=FRX.KRWUSD')
      .done(function (data) {
        var cur = $(this).attr('cur');
        var krw = data[0]['basePrice'].toString();
        // if (krw.indexOf(".") >= 0) {
        //   krw = krw.split(".")[0]
        // }
        mainData['usdkrw'] = krw

        krwC = numberWithCommas(krw)
        $('#usdkrw').text(krwC);
      })
  }

  function pre(upbitFlag,bithumbFlag,term) {
    let array = ["btc","eth","xrp","bch"];
    array.forEach(element => {
      if(term.indexOf(element) != -1){
        let upbit = mainData['upbit_krw-' + element];
        let binance = mainData['binance_' + element + 'usdt_k'];
        let bithumb = mainData['bithumb_' + element + '_krw'];
        if(upbitFlag && upbit != undefined && binance != undefined){
          $('#' + element + 'pre').text(precaculate(upbit, binance));
        }
        if(bithumbFlag && bithumb != undefined && binance != undefined){
          $('#' + element + 'pre2').text(precaculate(bithumb, binance));
        }
      }
    });
  }

  function precaculate(a, b) {
    return ((a - b) / b * 100).toFixed(3) + "%";
  }

</script>

<script type="text/javascript">
  if ('WebSocket' in window) {
    let ws = new WebSocket("wss://stream.binance.com:9443/stream?streams=btcusdt@trade/ethusdt@trade/xrpusdt@trade/bchusdt@trade");
    ws.onopen = function () { };
    ws.onmessage = function (evt) {
      try{
        $('#bin_status').text('connected');
        let jsonn = JSON.parse(evt.data)['data'];

        let symbol = jsonn['s'];
        let priceusd = jsonn['p'];
        let priceusdC = numberWithCommas(priceusd);
        let pricekrw = jsonn['p'] * mainData['usdkrw'];

        let term = "binance_" + symbol.toLowerCase();
        $('#' + term).text(priceusdC);
        $('#' + term + "2").text(priceusdC);
        mainData[term] = priceusd;
        mainData[term + "_k"] = pricekrw;
        pre(true,true,term);
      }catch{
      }
    };
    ws.onclose = function () { $('#bin_status').text('closed'); };
  }
  else $('#bin_status').text('disconnected');
</script>

<script type="text/javascript">
  if ('WebSocket' in window) {
    let ws2 = new WebSocket("wss://api.upbit.com/websocket/v1");
    ws2.binaryType = 'arraybuffer';
    ws2.onopen = function () {
      ws2.send('[{"ticket":"test"},{"type":"trade","codes":["KRW-BTC","KRW-ETH","KRW-XRP","KRW-BCH"]}]');
    };
    ws2.onmessage = function (evt) {
      try{
        $('#upbit_status').text('connected');
        let enc = new TextDecoder("utf-8");
        let arr = new Uint8Array(evt.data);
        let jsonn = JSON.parse(enc.decode(arr));

        let symbol = jsonn['code'];
        let price = jsonn['trade_price'];
        let priceC = numberWithCommas(price);

        let term = "upbit_" + symbol.toLowerCase();
        $('#' + term).text(priceC);
        mainData[term] = price;
        pre(true,false,term);
      }catch{
      }
    };
    ws2.onclose = function () { $('#upbit_status').text('closed'); };
  }
  else $('#upbit_status').text('disconnected');
</script>

<script type="text/javascript">
  if ('WebSocket' in window) {
    let ws3 = new WebSocket("wss://pubwss.bithumb.com/pub/ws");
    ws3.binaryType = 'arraybuffer';
    ws3.onopen = function () {
      ws3.send('{"type":"transaction", "symbols":["BTC_KRW" , "ETH_KRW", "XRP_KRW", "BCH_KRW"]}');
    };
    ws3.onmessage = function (evt) {
      try{
        $('#bithumb_status').text('connected');
        let jsonn = JSON.parse(evt.data);
        let tmp = jsonn.content.list[0];

        let symbol = tmp.symbol;
        let price = tmp.contPrice;
        let priceC = numberWithCommas(price);

        let term = "bithumb_" + symbol.toLowerCase();
        $('#' + term).text(priceC);
        mainData[term] = price;
        pre(false,true,term);
      }catch{
      }
    };
    ws3.onclose = function () { $('#bithumb_status').text('closed'); };
  }
  else $('#bithumb_status').text('disconnected');
</script>

<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
            <a href="">1 USD = <span id="usdkrw"></span> KRW
            </a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">정프리미엄</h3>
    </div>

    <div class="jumbotron" style=" margin-bottom:20px;margin-top:20px;padding:0;">
      <table style="width:100%;">
        <thead>
          <tr>
            <th style="text-align: center">&nbsp&nbsp코인&nbsp&nbsp</th>
            <th style="text-align: center">업비트(₩)</th>
            <th style="text-align: center">바이낸스($)</th>
            <th style="text-align: center">프리미엄</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BTC</td>
            <td><span id="upbit_krw-btc">0</span></td>
            <td><span id="binance_btcusdt">0</span></td>
            <td><span id="btcpre"></span></td>
          </tr>
          <tr>
            <td>ETH</td>
            <td><span id="upbit_krw-eth">0</span></td>
            <td><span id="binance_ethusdt">0</span></td>
            <td><span id="ethpre"></span></td>
          </tr>
          <tr>
            <td>XRP</td>
            <td><span id="upbit_krw-xrp">0</span></td>
            <td><span id="binance_xrpusdt">0</span></td>
            <td><span id="xrppre"></span></td>
          </tr>
          <tr>
            <td>BCH</td>
            <td><span id="upbit_krw-bch">0</span></td>
            <td><span id="binance_bchusdt">0</span></td>
            <td><span id="bchpre"></span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="jumbotron" style=" margin-bottom:20px;margin-top:20px;padding:0;">
      <table style="width:100%;">
        <thead>
          <tr>
            <th style="text-align: center">&nbsp&nbsp코인&nbsp&nbsp</th>
            <th style="text-align: center">빗 썸(₩)</th>
            <th style="text-align: center">바이낸스($)</th>
            <th style="text-align: center">프리미엄</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BTC</td>
            <td><span id="bithumb_btc_krw">0</span></td>
            <td><span id="binance_btcusdt2">0</span></td>
            <td><span id="btcpre2"></span></td>
          </tr>
          <tr>
            <td>ETH</td>
            <td><span id="bithumb_eth_krw">0</span></td>
            <td><span id="binance_ethusdt2">0</span></td>
            <td><span id="ethpre2"></span></td>
          </tr>
          <tr>
            <td>XRP</td>
            <td><span id="bithumb_xrp_krw">0</span></td>
            <td><span id="binance_xrpusdt2">0</span></td>
            <td><span id="xrppre2"></span></td>
          </tr>
          <tr>
            <td>BCH</td>
            <td><span id="bithumb_bch_krw">0</span></td>
            <td><span id="binance_bchusdt2">0</span></td>
            <td><span id="bchpre2"></span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer class="footer">
      <p style="float: right">&copy; Wiffy 2020</p>
      <p>Binance Status: <span id="bin_status">disconnected</span> </p>
      <p>Upbit Status: <span id="upbit_status">disconnected</span></p>
      <p>Bithumb Status: <span id="bithumb_status">disconnected</span></p>
    </footer>

  </div>

</body>

</html>